<!DOCTYPE html>
<html>
    <head>
        <title>bank.com</title>
    </head>
    <body>
        <h1>Totally your bank ;)</h1>
        <form action="/new" method="post">
            <label>Input your account info</label>
            <input type="text" name="name" placeholder="Your account name">
            <input type="text" name="password" placeholder="Your password">
            <input type="number" name="amount" placeholder="Your deposit amount">
            <button type="submit" name="button">Create</button>
        </form>
    </body>
</html>
