<!DOCTYPE html>
<html>
    <head>
        <title>New Account</title>
    </head>
    <body>
        <p>You just created a new bank account!</p>
        <form action="/validate" method="post">
            <button type="submit" name="button">Back to sign-in</button>
        </form>
    </body>
</html>
