<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your account</title>
    </head>
    <body>
        <h1>You have this much money {{$account->getAmount()}}</h1>
    </body>
</html>
