<!DOCTYPE html>
<html>
    <head>
        <title>Is it you</title>
    </head>
    <body>
        <h1>Account Balance Sign-in</h1>
        <form action="/validate" method="post">
            <label>Sign-in to check your account balance</label>
            <input type="text" name="name" placeholder="Your account name">
            <input type="text" name="password" placeholder="Your password">
            <button type="submit" name="button">Sign-in</button>
        </form>
    </body>
</html>
